body{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    position: relative;
}

.fleetContainer{
    padding: 2rem;
    gap: 0;
}

.headingTop{
    font-family:'Kanit';
    color: teal;
    font-size: 2rem;
}

.headingBottom{
    font-family: 'Anton';
    color: #2e2e2e;
    font-size: 4rem;
    text-shadow: 3px 3px rgb(162, 146, 189);
}



.carContainer{
    opacity: 1;
    animation-name: fade-left;
    animation-iteration-count: 1;
    animation-delay: 0ms;
    animation-duration: 1.5s;
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    /*grid-template-columns: repeat(auto-fit, minmax(300px,auto));*/
    grid-template-columns: repeat(3,1fr);
}

.carContainer .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0,0,0,0.1);
}

.carContainer .box .carImage{
    width: 100%;
    height: 200px;
}

.carContainer .box .carImage img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

.carContainer .box h3{
    font-weight: 600;
    font-family: 'Anton';
    color: #f77b07;
    font-size: x-large;
}

.carContainer .box p{
    font-family: 'Kanit';
    font-weight: 100;
    color: #5c5c5c;

}

.carContainer .box .btn{
    display: flex;
    justify-content: center;
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 0.5rem;
    font-family: 'Kanit';
    text-decoration: none;
}

@media screen and (max-width:600px) {
    .carContainer{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 400){
    .box a , .box h3{
        font-size: 0.2rem;
    }
}

@keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }