.header{
    background-color: #2e2e2e;
    width: 100%;
    display: flex;
    flex-direction: row; 
    overflow:hidden;
    position: sticky;
}
.logo  img{
    margin: 1rem;
    max-width: 30%;
}


.header__selection{
    display: flex;
    color: white;
    margin: 1rem;
    font-family: 'Anton';
    font-size: 1.25rem;
}


.header__selection > a{
    margin-left: 20%;
    transition-duration: 0.2s;
    text-decoration: none;
    color: #fff;
}

.header__selection > a:visited{
  color: #fff;
}
.userLoggedIn{
    margin-left: auto;
    margin-right: 0;
    padding: 1rem;
    padding-right: 3rem;
    color: #fff;
    display: flex;
    flex-direction: row;
    text-align: center;
}
.logoImage img{
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.header__selection__Location:hover,.header__selection__Fleet:hover,.header__selection__Location:hover,
.header__selection__Pricing:hover,.header__selection__FAQ:hover{
  border-bottom: 3px solid#fff;
}

.userLoggedIn a{
  text-decoration: none;
  color: #fff;
}

.mobileNav{
  display: none;
}

.container{
background-color: aliceblue;
}
.topnav{
  display: none;
}
@media  screen and (max-width: 1200px) {
  .header{
      display: none;
  }

  .body__rentNow{
      display: none;
  }

  .topnav {
      overflow: hidden;
      background-color: #2e2e2e;
      display: block;
    }
    
    .topnav #myLinks {
      display: none;
    }
    
    .topnav a {
      color: salmon;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      font-family: 'Anton';
    }
    
    .topnav a.icon {
      background: #2e2e2e;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .topnav a:hover {
      color: wheat;
    }
    
    .active {
      background-color: #2e2e2e;
      color: wheat;
    }
    .active img{
      width: 15%;
    }


}