body{
    background-color: aliceblue;
}
.tophead{
    margin-top: 2rem;
    font-family: 'Anton';
    text-align: center;
    font-size: 1.5rem;
    color: rgb(83, 81, 81);
    text-shadow: 1px 1px rgb(161, 147, 147);
}

.bottomhead{
    text-align: center;
    font-family: 'Kanit';
    font-size: 2rem;
    color: rgb(56, 28, 28);
    text-shadow: 2px 2px rgb(162, 146, 189);
}
.maps{
    padding: 15px;
    text-align: center;
}

iframe{
    padding:1px;
    border: 1px solid  black; 
    border-radius: 16px
}

.maps h2{
    padding: 1rem;
    font-family: 'Kanit';
    color: brown;
}