body{
    background-color: aliceblue;
}

.paymentTitle{
    margin: 2rem;
}
.topHeader{
    font-family: 'Anton';
    font-size: 4rem;
    color: rgb(145, 41, 50);
    text-shadow: 3px 3px rgb(162, 146, 189);
}

.bottomHeader{
    font-family: 'Kanit';
    font-size: 1.5rem;
    color: rgb(6, 65, 65);
}

.paymentHeader{
    font-family: 'Kanit';
    color: teal;
    font-size: 2rem;
    text-align: center;
    margin-top: -4rem;
}

.outStandingPayment, .paymentHistory{
    padding: 2rem;
    margin: 1rem;
    border-radius: 16px;
}

.outStandingPayment{
    border: 3px solid rgb(126, 126, 5);
    background-color: rgb(158, 194, 224);
}

.paymentHistory{
    border: 3px solid saddlebrown;
    background-color: #92bfc7;
}

.paymentInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.paymentDetails, .costBreakDown{
    margin: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.costBreakDown h3{
    font-size: 2rem;
    color: red;
    margin-top: -1px;
}

.costBreakDown h5{
    font-size: 1.5rem;
    margin: 0;
    color: rgb(0, 100, 67);
}



.paymentButton a{
    padding: 1rem;
    background: linear-gradient(to right, #e29986 0%, #ce5d11d7 100%);
    font-family: 'Anton';
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 17px;
    border: 2px solid black;
}

.paymentButton a:hover{
    background: linear-gradient(to right, #11cea5d7 0%, #12798b 100%);
}

@media screen and (max-width: 600px) {
    .paymentInfo{
        flex-direction: column;
    }

    .paymentHeader{
        margin-top: -2rem;
    }
    .outStandingPayment, .paymentHistory{
        padding: 1rem;
    }
}