
body{
    background-color: aliceblue;
}

.RentHeader{
    margin: 2rem;
}
.RentHeader h1{
    font-family: 'Anton';
    font-size: 4rem;
    color: #1b8f7b;
    text-shadow: 3px 3px rgb(83, 83, 83);
}

.RentHeader h3{
    font-family: 'Kanit';
    font-size: 2rem;
    color: #3f2f03;
}

.reserveContainer{
    margin: 2rem;
    background: linear-gradient(to right, #a8a586 0%, #925402 100%);
    text-align: center;
    border-radius: 8px;
}

.reserveHeader h2{
    font-family: 'Anton';
    color: #2e2e2e;
    padding: 1rem;
}

.reserveCars h3{
    font-family: 'Kanit';
    padding: 2rem;
    color: #fff;
}

.paymentContainer{
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-top: 1rem;
}

.paymentContainer button{
    padding: 1rem;
    border-radius: 8px;
    font-family: 'Kanit';
    color: #fff;
}

.instructionContainer{
    margin: 2rem;
    justify-content: center;
    padding: 2rem;
    background: linear-gradient(to right, #869aa8 0%, #024092 100%);
    border-radius: 16px;
    box-shadow: 3px 3px #888888;
}

.instructionHeader{
    color: #fff;
    font-family: 'Kanit';
    text-align: center;
    margin-top: -2rem;
    font-size: medium;
}

.instructions{
    color: #fff;
    font-family: 'Kanit';
    font-size: medium;
    text-align: center;
}

.instructions ul{
    display: inline-block;
    text-align: left;
}
.locationButton { 
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    background: linear-gradient(to left, #93e5e1 0%, #04727a 100%);
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid black;
}

.locationButton a{
    text-decoration: none;
    color: #fff;
    font-family: 'Kanit';
    font-size: medium;
}

.locationButton:hover{
    background: linear-gradient(to left,#04727a 0%, #ace9e6 100%);
}

.rentForm{
    margin: 1rem;
    background: linear-gradient(to right, #8ca886 0%, #02926e 100%);
    border-radius: 8px;
    justify-content: center;
    text-align: center;
}

.rentalFormHeader{
    font-family: 'Kanit';
    color: aliceblue;
    font-size: 2rem;
}

.selectCar{
    font-family: 'Kanit';
}


 .carRental select{
      height: 2rem;
      border-radius: 8px;
      font-family: 'Kanit';
      color: #500606;
      font-size: 1rem;
      background-color: rgb(202, 223, 241);
      text-align: center;
      width: 30%;
  }

.label{
    margin-top: 1rem;
    font-family: 'Anton';
}

.cardNumber, .CVV{
    width: 30%;
    height: 2rem;
    background-color: rgb(202, 223, 241);
    border-radius: 8px; 
    font-family: 'Anton';
    color: #500606;
}

.Month, .Year{
    height: 2rem;
    background-color: rgb(202, 223, 241);
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;   
}

.submit{
    background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 1rem;
  width: 30%;
  margin: 40px 0 20px 0;
  font-family: 'Anton';
}

.submit:hover{
    letter-spacing: 1px;
  background: linear-gradient(to left, #99004d 0%, #ff0080 100%);
}
.Error span{
    color: rgb(114, 19, 19);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0.5rem;
    font-size: smaller;
    text-align: center;
    display: none;
}

.paymentHeader{
	width: 100vw;
	min-height: 100vh;
	background: #34495e;
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerPayment{
	background: white;
	max-width: 800px;
	min-height: 500px;
	display: flex;
	justify-content:space-between;
	align-items: flex-start;
	padding: 0.5rem 1.5rem;
    border-radius: 16px;
    font-family: sans-serif;
}
.left{
	flex-basis: 50%;
}
.right{
	flex-basis: 50%;
}
form{
	padding: 1rem;
}

.containerPayment h3{
	margin-top: 1rem;
	color:#2c3e50;
	}

form input[type="text"]{
	width: 100%;
	padding: 0.5rem 0.7rem;
	margin: 0.5rem 0;
	outline: none;
}

.carSelect{
	padding: 0.5rem 0.7rem;
	display: flex;
}

#zip{
	display: flex;
	margin-top: 0.5rem;
}
#zip select{
	padding: 0.5rem 0.7rem;
}
#zip input[type="number"]{
	padding: 0.5rem 0.7rem;
	margin-left: 5px;	
}
input[type="submit"]{
	width: 100%;
	padding: 0.7rem 1.5rem;
	background: #34495e;
	color: white;
	border: none;
	outline: none;
	margin-top: 1rem;
	cursor: pointer;
}

input[type="submit"]:hover{
	background: #2c3e50;
}


@media only screen and (max-width: 770px){
	.containerPayment{
		flex-direction: column;
        margin: 1rem;
	}
	body{
		overflow-x: hidden;
	}
}


@media screen and (max-width:600px) {
    .locationButton{
        font-size: 0.5rem;
    }

    .carRental select, .cardNumber{
        width: 50%;
    }
}