
.body__introText__Header{
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    position: relative;
    width: 100%;
    font-family: 'Kanit';
    font-size: 4rem;
    background: linear-gradient(to left,
    beige,rgb(184, 184, 184),rgb(119, 119, 119),rgb(75, 75, 75));
    -webkit-background-clip: text;
    color: transparent;
}
.body__introRent{
    margin-top: 8%;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.body__rentNowSpan{
    position: relative;
    font-family:'Anton';
    font-size: 1.5rem;
    color: antiquewhite;
    text-align: center;
    transition-duration: all 0.5s;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 4s;
}

.body__rentNowSpan:hover{
    text-decoration: underline;
}
.body__IntroImg{
    margin-top: -10%;
    width: 100%;
}
.body__rentNowMobile{
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    display: none;
}

.body__whyUs{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.body__whyUsHead {
    font-family: 'Kanit';
    margin-left: 2rem;
    font-size: 8rem;
    color: rgba(29, 29, 29, 0.918);
    text-shadow: 3px 3px rgb(134, 99, 99);
}

.body__whyUsExplain{
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
    text-align: center;
}
.body__whyUsExplain__1,.body__whyUsExplain__2,.body__whyUsExplain__3{
    width: 33%;
    margin-left: 2rem;
    margin-right: 2rem;
    display:flex;
    flex-direction: column;
    
}


.body__whyUsExplain__1Head{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    color: rgb(1, 6, 77);
    top: 0;
}

.body__whyUsExplain__1Desc{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    color: grey;
   
}

.body__whyUsExplain img{
    width: 40%;
}

.mobileSelector{
    display: none;
    position: relative;
    text-align: center;
    padding: 1rem;
}
.mobileSelector button{
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    background-color:sa;
    
}

.mobileSelector button:hover{
    background-color: teal;
    color: black;
}

.body__intro__mobile{
    display: none;
}
.aboutUsContainer{
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(209, 221, 231);
    display: flex;
    flex-direction: row;
    padding: 2rem;
}
.aboutUsDesc{
    gap: 0ch;
    width: 100%;
    display: flexbox;
    flex-direction: column;
    overflow: auto;
}
.body__container{
    position: relative;
    display: flex;
    flex-direction: column;
}
.aboutUsImage img{
    width: 80%;
    max-width: fit-content;
    border-radius: 8px;
    position: relative;
    height: 100%;
    margin-bottom: 1rem;
}

.aboutUsHeadMobile{
    opacity: 0;
    text-align: left;
    font-family: 'Anton';
    font-weight: bolder;
    color: #464363;
    font-size: xx-large;
}

.aboutUsDescHeader h2{
    color: #033329;
    position: relative;
    font-size: 5.5rem;
    font-family: 'Kanit';
    text-shadow: 3px 3px rgb(162, 146, 189);
}

.aboutUsDescDescription p{
    font-family: 'Anton';
    font-size: 2rem;
    color: #464363;
    border-radius: 8px;
    
}
.aboutUsFeaturedOn{
    font-family: 'Anton';
    color: #033329;
    font-size: xx-large;
    text-shadow: 3px 3px rgb(162, 146, 189);
}
.imageContainer{
    border: 1px solid green;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1rem;
}

.featuredimage img{
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

.testimonialContainer{
    background-color: #bdcdd1;
}

.testimonialHeader{
    margin-top: 1rem;
   font-family: 'Anton';
   color: #470c20;
   text-align: center;
   font-size: x-large;
}
.testimonialHeader span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    color: #033329;
}

.reviews-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin: 2rem;
    overflow: s;
}

.rev-image{
    width: 70px;
    height: 70px;
}

.rev-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid sandybrown;
}

.reviews-container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    box-shadow:  1px 4px 41px rgba(0, 0, 0,0.1);
    border-radius:0.5rem;
}

.reviews-container .box h2{
    font-size: 1.1rem;
    font-family: 'Kanit';
    color: #1f1b46;
    font-weight: 600;
    margin: 0.5rem 0.5rem;
}

.reviews-container .box p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgb(65, 65, 65);
}

.reviews-container .box .stars .bx{
    color: rgb(223, 147, 6);
}

.newsletter-container{
    background: linear-gradient(to top right, #fe5b3d,#ffac38);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}
.news-header{
    font-family: 'Anton';
    font-size: 2rem;
    color: rgb(252, 252, 252);
    
}
.container{
    display: flex;
    flex-direction: column;
}

.newsletter-container .nameSubmit{
    margin-top: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    padding: 4px 0;
    width: 350px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.nameSubmit input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    outline: none;
}

.nameSubmit .btn{
    background: #474fa0;
    color: #fff;
    font-family: "Anton";
    font-size: 1rem;
    padding: 8px 20px;
    border-radius: 20rem;
    
}

.reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
 
body{
    background-color: rgb(0, 0, 0);
}

@media screen and (max-width:1200px){
   
    .body__IntroImg{
        display: none;
        margin-left: 0rem;
    }

    .body__introTextImg{
        margin-left: 0rem;
    }

    .body__intro__mobile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%
    }
    .body__introText__Header{
        font-size: 3rem;
    }
    .body__rentNowSpan{
        display: none;
    }
    .body__rentNowMobile{
        margin: auto;
        justify-content: center;
        display: grid;
        border-radius: 8px;
        width: 40%;
        background-color: rgb(91, 95, 95);
        padding: 1rem;
        border: 1px solid salmon;
        font-family: 'Anton';
        font-size: 1.125rem;
        color:rgb(15, 15, 14);
    }

    .button{
        position: relative;
        text-align: center;
    }

    .body__whyUs{
        
    }
}

@media screen and (max-width:1200px) {
    .mobileSelector{
        display: block;
    }
    .body__whyUsHead{
        margin: 0;
        font-size: 5rem;
        text-align: center;
    }

    .body__whyUsExplain__image{
        margin-top: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .body__whyUsExplain__1, .body__whyUsExplain__2,.body__whyUsExplain__3{
        width: 100%;
        position: relative;
        align-items: center;
    }
    .body__whyUsExplain__2{
        display: none;
    }

    .body__whyUsExplain__3{
        display: none;
    }

    .aboutUsContainer{
        flex-direction: column;
    }

    .aboutUsHeadMobile{
        opacity: 1;
    }

    .aboutUsDescHeader{
        display: none;
    }
    .aboutUsImage{
        text-align: center;
    }
    .aboutUsDescDescription p{
        font-size: larger;
        padding: 0;
        margin: 0;
    }

    #box2{
        display: none;
    }

    #box3{
        display: none;
    }
}

@media screen and (max-width:600px) {
    .featuredimage img{
        position: relative;
        width: 100%;
        text-align: center;
    }

    .imageContainer{
        display: flex;
        flex-direction: column;
    }

    .news-header{
        font-size: 1rem;
    }

}

@media screen and (max-width:325px){
    .newsletter-container .nameSubmit{
        display: flex;
        flex-direction: column;
    }

    .nameSubmit .btn{
        width: 40%;
    }

    .nameSubmit{
       align-items: center;
    }
}

@keyframes fadeInOpacity{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }