body{
    background-color: aliceblue;
}

.containerPayment{
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    justify-content: center;
    background: linear-gradient(to right, #d3cfcf 0%, #81817fd7 100%);
    margin: 2rem;
    border-radius: 16px;
}
.paymentsuccessfulHead{
    font-family: 'Anton';
    color: rgb(165, 109, 26);
    font-size: 2.5rem;
}

.paymentsuccessful{
    font-family: 'Kanit';
}

.backtohome{
    margin-top: 2rem;
}
.backtohome a{
    font-family: 'Anton';
    text-decoration: none;
    padding: 1rem;
    background-color: rgb(65, 65, 65);
    border-radius: 16px;
    color: #fff;
}

.backtohome a:hover{
    background-color: rgb(148, 145, 145);
    color: #2e2e2e;
}